@import 'normalize.sass/normalize';
@import 'bootstrap/scss/bootstrap';

$dark: #004289;

html, body, .fill-height {
  height: 100%;
}

.content-panel {
  background-color: $dark;
  color: #FFF;
}

.content-panel-button {
  background: #FFF;
  border: none;
  padding: 6px 20px;
  color: $dark;
  border: 1px solid #FFF;
  border-radius: 60px;
  transition-property: background-color, color;
  transition-duration: 0.2s;

  &:hover {
    background-color: $dark;
    color: #FFF;
  }
}

.content-panel-button + .content-panel-button {
  margin-left: 10px;
}

.content-panel__container {
  width: 100%;
  max-width: 640px;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.variable-list {
  width: 100%;
}

.variable-list-item {
  cursor: pointer;
}
