<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta value="https://demo.irmacard.org/tomcat/irma_api_server/server/" name="irma-web-server">
    <meta value="https://demo.irmacard.org/tomcat/irma_api_server/api/v2/" name="irma-api-server">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 d-flex white">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="/irma">Participate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chart">Statistics</a>
                    </li>
                </ul>
                <div class="content">
                    <h1>Equality Matters</h1>
                    <span class="subtitle">"Black box transparancy as as service"</span>

                    <div class="content-list">
                      <div class="content-list-item clearfix">
                        <div class="content-list-item__number float-left">1)</div>
                        <div class="content-list-item__text float-left text-left">We need your help to check if KPN treats their customers equally</div>
                      </div>
                    </div>
                    1)   We need your help to check if KPN treats their customers equally
2)   Scan the QR code to tell us more about yourself with one click
3)   We’ll check if KPN treated you like they treat others and tell you the results
4)   By the way ... anything you share with us is anonymous. We have no clue who you are!
                </div>
            </div>
            <div class="col-6 gradient box-container">
              <div class="box-content">
                {% block content %}{% endblock %}
              </div>
            </div>
        </div>
    </div>

    {% block footer %}{% endblock %}
  </body>
</html>
