<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta value="https://demo.irmacard.org/tomcat/irma_api_server/server/" name="irma-web-server">
    <meta value="https://demo.irmacard.org/tomcat/irma_api_server/api/v2/" name="irma-api-server">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 d-flex white">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="/irma">Participate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chart">Statistics</a>
                    </li>
                </ul>
                <div class="content">
                    <h1>Equality Matters</h1>
                    <span class="subtitle">"Black box transparancy as as service"</span>

                    <div class="content-list">
                      <div class="content-list-item">
                        <div class="content-list-item__number">1)</div>
                        <div class="content-list-item__text text-left">We need your help to check if KPN treats their customers equally</div>
                      </div>
                    </div>

                    <div class="content-list">
                      <div class="content-list-item">
                        <div class="content-list-item__number">2)</div>
                        <div class="content-list-item__text text-left">Scan the QR code to tell us more about yourself with one click</div>
                      </div>
                    </div>

                    <div class="content-list">
                      <div class="content-list-item">
                        <div class="content-list-item__number">3)</div>
                        <div class="content-list-item__text text-left">We’ll check if KPN treated you like they treat others and tell you the results</div>
                      </div>
                    </div>

                    <div class="content-list">
                      <div class="content-list-item">
                        <div class="content-list-item__number">4)</div>
                        <div class="content-list-item__text text-left">By the way ... anything you share with us is anonymous. We have no clue who you are!</div>
                      </div>
                    </div>
                </div>

                <img class="svg svg-age" src="/static/svg/age.svg">
                 <img class="svg svg-colors" src="/static/svg/colors.svg">
                 <img class="svg svg-data" src="/static/svg/data.svg">
                 <img class="svg svg-education" src="/static/svg/education.svg">
                 <img class="svg svg-gender" src="/static/svg/gender.svg">
                 <img class="svg svg-scale" src="/static/svg/scale.svg">
            </div>
            <div class="col-6 gradient box-container">
              <div class="box-content">
                {% block content %}{% endblock %}
              </div>
            </div>
        </div>
    </div>

    {% block footer %}{% endblock %}
  </body>
</html>
