{% extends "layout.html" %}

{% block title %}Hamsters!{% endblock %}

{% block head %}
<script src="/static/dummyform.js" type="text/javascript"></script>
{% endblock %}

{% block footer %}
  <div style="padding: 20px" class="text-center">
    <h2>So you would like to use our amazing service huh?</h2>

    <div>
      So please fill in your credentials first.
    </div>

    <div style="margin-bottom: 20px">
      <div>
        <input placeholder="Name"/>
      </div>

      <div>
        <input placeholder="Your pet preference"/>
      </div>
    </div>

    <div class="product-widget">
      <div class="product-widget-content text-center">
        <h3>Help us making this process equal for everybody!</h3>

        <a href="/form" class="product-widget-button">Secure Equality Now!</a>
      </div>
    </div>
  </div>
{% endblock %}
