{% extends "layout.html" %}

{% block title %}Hamsters!{% endblock %}

{% block head %}
<script src="/static/dummyform.js" type="text/javascript"></script>
{% endblock %}

{% block footer %}
  <div style="padding: 20px" class="text-center">
    <h2>So you would like to use our amazing service huh?</h2>

    <div>
      So please fill in your credentials first.
    </div>

    <div style="margin-bottom: 20px">
      <div>
        <input placeholder="Name" value="Sulky Sally" disabled/>
      </div>

      <div>
        <input placeholder="Hamsters" disabled/>
      </div>
    </div>

    <div class="product-widget">
      <div class="product-widget-content text-center">
        <h3>Help us making this process equal for everybody!</h3>

        <a href="#" class="product-widget-button">Thanks for joining us!</a>
      </div>
    </div>

    <script>
      var success = window.location.search === '?success=1';

      function redirect() {
        if (success) {
          window.location.href = '/success';
        } else {
          window.location.href = '/fail';
        }
      }
    </script>

    <button class="request-button" onclick="redirect()">Submit</button>
  </div>
{% endblock %}
